*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
.history
uploads
dist
*.zip
datasources.json
environments
system-config.js
marksharks-g8-d33607f5ff72.json