<!-- <mat-sidenav-container> -->    
  <mat-card class='light' style="height: 100%;">

    <mat-card-header>
      <mat-card-title class="view-card-title">
        <h1>{{pageTitle }}</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-toolbar>
      <mat-toolbar-row>
        <span class="title-spacer"></span>
        <button mat-mini-fab style="margin-right:10px; background-color:#e07c9e" [routerLink]="['/quizSetEdit/', '']">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab style="margin-right:10px; background-color:#a28b6e" (click)="sidenav.toggle()">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-mini-fab style="margin-right:10px; background-color:darkgray" (click)="reset()">
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  
    <mat-table #table [dataSource]="dataSource" matSort>            
      <ng-container matColumnDef="setName">  
        <mat-header-cell *matHeaderCellDef mat-sort-header> Set Name </mat-header-cell>
        <mat-cell *matCellDef="let quizset"><a [routerLink]="['/quizSetHistory/', quizset.id]"> {{quizset.set_name}} </a></mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell *matCellDef="let quizset">{{quizset.status==1?'Active':'Inactive'}}</mat-cell>
      </ng-container>       
      <ng-container matColumnDef="created_on">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Created On </mat-header-cell>
        <mat-cell *matCellDef="let quizset">{{quizset.created_on | date}}</mat-cell>
      </ng-container>      
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef style="justify-content:right;">          
          <button mat-mini-fab title="Reset" style="color:white; background-color:darkgrey;min-height: 30px;   margin: 5px;" (click)="resetListFilter()"><mat-icon>replay</mat-icon></button>             
        </mat-header-cell>
        <mat-cell *matCellDef="let quizset" style="justify-content:right;">          
          <button mat-mini-fab style="background-color:teal; min-height: 30px;   margin: 5px;" [routerLink]="['/quizSetEdit/', quizset.id]" [queryParams]="{customFilters:customFilters | json }">
            <mat-icon>edit</mat-icon>
          </button>                  
        </mat-cell>
        
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>    
    </mat-table>    
    
    <mat-paginator #paginator [pageSize]=10 [pageSizeOptions]="[10, 20, 30, 50, 100, 1600]" showFirstLastButtons>
    </mat-paginator>
  </mat-card>
  
  
  <mat-sidenav class="search-panel" dark #sidenav mode="push" opened="false">
    <mat-card class="profile-card">
      <mat-card-header>
        <button mat-mini-fab (click)="sidenav.toggle()"><mat-icon>close</mat-icon></button>
        <mat-card-subtitle>
  
          <button mat-raised-button style="color:lightgrey; background-color:darkgreen" (click)="searchCustomers(searchFilter);sidenav.toggle()">
            <mat-icon>search</mat-icon>Search </button>
  
          <button mat-raised-button style="color:lightgrey; background-color:darkred" (click)="resetSearchFilter(sidenav)">
            <mat-icon>refresh</mat-icon>Reset</button>
  
                   
        </mat-card-subtitle>
      </mat-card-header>
  
    </mat-card>
    <mat-nav-list style="margin-left:20px;">      
      <mat-form-field>
        <input matInput type="text" placeholder="Quiz Set Name" style="width:200px;" name="setName" 
          #setName />
      </mat-form-field>
      <!-- <mat-form-field>
        <input matInput type="text" placeholder="Lead Date" ngxDaterangepickerMd showCancel="true" [locale]="{format: 'DD-MM-YYYY'}" style="width:200px;" name="createdDate" [(ngModel)]="searchFilter.createdDate"
          #createdDate />
      </mat-form-field> -->
    </mat-nav-list>   
  </mat-sidenav>
  <!-- </mat-sidenav-container> -->