.mat-grid-tile .mat-grid-tile-header {
    background-color: #22028661;
}

.header_btn_color {
    background-color: #22028661;
}
.btn {
    height: 30px;
    margin-right:35px;
    background-color:blueviolet;
    color:#fff;
}

.topicBtn {
    height: 30px;
    margin-right:35px;
    background-color:blueviolet;
    color:#fff;
}