<mat-card class="dash-card" class='light' [ngStyle]="{'width': chartGridWidth}">
  <div [ngClass]="{'chart-tile':true}">Post Test Score</div>
  <div *ngIf = "!student_id">
    <div>
      <p>{{chartTitle ? chartTitle : 'Average Percentage'}}: {{avgPercent}}</p>
    </div>
    <div *ngIf = "!quiz_set_id">
      <div *ngIf = "!class_id">
        <p>{{chartTitle ? chartTitle : 'Total Post Test'}}: {{totalQuiz}} 
          / 
          {{chartTitle ? chartTitle : 'Attempted Post Test'}}: {{totalQuizAttempt}}</p>
      </div>
      <div *ngIf = "class_id">
        <p>{{chartTitle ? chartTitle : 'Total Post Test Assigned'}}: {{totalQuiz}} 
          / 
          {{chartTitle ? chartTitle : 'Attempted Post Test'}}: {{totalQuizAttempt}}</p>
      </div>
    </div>
    <div>
      <p>{{chartTitle ? chartTitle : 'Total  students'}}: {{totalStudent}}
        /
        {{chartTitle ? chartTitle : 'Students attempted'}}: {{total_quizSets}}
      </p>   
    </div>
  </div>
  <div *ngIf = "student_id">
    <p>{{chartTitle ? chartTitle : 'Average Percentage'}}: {{avgPercent}}</p>
    <p>{{chartTitle ? chartTitle : 'Attempted Post Test'}}: {{total_quizSets}}</p>
  </div>
  <div>
    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" 
      [options]="pieChartOptions" [colors]="pieChartColors" (chartClick)="chartClicked($event)"></canvas>
  </div>
</mat-card>