.rescheduled{
    color: red;
    font-size: 14px;
}

.rescheduleTxt{
    text-align: right;
    font-size: 12px;
}

.btn {
    margin-right:8px;
    background-color:darkcyan;
    color:#fff;
}

.w-75{
    max-width: 50px;
}

.w-100{
    max-width: 100px;
}

.w-150{
    max-width: 150px;
}

.align-center{
    text-align: center;
}
.link { 
    color: blue;
}