<mat-card>
  <mat-card-header>
    <mat-card-title class="view-card-title">
      <h1>{{pageTitle }}</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-toolbar>
    <mat-toolbar-row>
      <!-- <h1> {{pageTitle}}</h1> -->
      <!-- <mat-form-field>
        <mat-placeholder>
          <mat-icon>subject</mat-icon>
          <b> Filter</b>
        </mat-placeholder>
        <input matInput (keyup)="applyFilter($event.target.value)">
      </mat-form-field> -->
      <span class="title-spacer"></span>
      <button mat-mini-fab style="margin-right:10px; background-color:#e07c9e" [routerLink]="['/userEdit/', '']">
        <mat-icon>add</mat-icon>
      </button>     
      <button mat-mini-fab style="margin-right:10px; background-color:darkgray" (click)="reset()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-mini-fab style="margin-right:10px; background-color:#a28b6e" (click)="sidenav.toggle()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

    <mat-table #table [dataSource]="dataSource" matSort>

    
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.firstName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.user_Type.type_name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="assignedTo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Assigned To </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.assigned_to==0?'N/A':user.assignedTo.firstName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef style="justify-content:right;"></mat-header-cell>
        <mat-cell *matCellDef="let user" style="justify-content:right;">
          <button mat-raised-button [ngClass]="{btn:true}" [routerLink]="['/permission_user', user.id, 0]">Permission</button>
          <button mat-mini-fab style="background-color:teal; min-height: 30px;   margin: 5px;" [routerLink]="['/userEdit/', user.id]"
          [queryParams]="{customFilters:customFilters | json}">
            <mat-icon>edit</mat-icon>
          </button>        
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <!-- <mat-paginator #paginator [length]="totalUser" [pageIndex]="offset" [pageSize]="limit" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons>
    </mat-paginator> -->
    <mat-paginator [pageSize]=10 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card>

  <mat-sidenav class="search-panel" dark #sidenav mode="push" opened="false">
    <mat-card class="profile-card">
      <mat-card-header>
        <button mat-mini-fab (click)="sidenav.toggle()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-card-subtitle>
  
          <button mat-raised-button style="color:lightgrey; background-color:darkgreen"
            (click)="searchUserData(searchFilter);sidenav.toggle()">
            <mat-icon>search</mat-icon>Search
          </button>
  
          <button mat-raised-button style="color:lightgrey; background-color:darkred"
            (click)="resetSearchFilter(sidenav)">
            <mat-icon>refresh</mat-icon>Reset
          </button>
  
        </mat-card-subtitle>
      </mat-card-header>
  
    </mat-card>
    <mat-nav-list style="margin-left:20px;">
  
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="searchFilter.username">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="searchFilter.email">
      </mat-form-field>

      <mat-form-field>           
        <mat-label>Select School</mat-label>
        <mat-select  [(ngModel)]="searchFilter.school_id" multiple>
            <mat-option *ngFor="let school of schoolList" [value]="school.id">
            {{school.school_name}}
            </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Select Class</mat-label>
        <mat-select (selectionChange)="changeClass($event.value)" [(ngModel)]="searchFilter.class_id" multiple>
          <mat-option *ngFor="let class of classList" [value]="class.id">
            {{class.class_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Select Section</mat-label>
        <mat-select [(ngModel)]="searchFilter.section_id" multiple>
          <mat-option *ngFor="let section of sectionList" [value]="section.id">
            {{section.class_detail.class_name}} - {{section.class_section.section_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
    </mat-nav-list>
  </mat-sidenav>