<mat-card>
  <mat-card-header>
    <mat-card-title class="view-card-title">
      <h1>{{pageTitle}}</h1>
    </mat-card-title>
  </mat-card-header>

  <form novalidate [formGroup]="contentForm">
    <mat-toolbar style="background-color: #FFF">
      <mat-toolbar-row>
        <span class="title-spacer"></span>

        <mat-card-actions>
          <button mat-mini-fab class="primary" (click)="savecontent()"
            [ngStyle]="{'margin-right':'10px','background-color':'darkgray'}" type="submit"
            [disabled]='!contentForm.valid'>
            <mat-icon>save</mat-icon>
          </button>
          <button mat-mini-fab class="" [ngStyle]="{'margin-right':'10px'}" [routerLink]="['/content']"
            queryParamsHandling="preserve">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-card-actions>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class='has-error' *ngIf='errorMessage'>{{errorMessage.message}}</div>

    <p>
      <mat-form-field class="form-field">
        <mat-label>Select Country<sup style="color: red;">*</sup></mat-label>
        <mat-select formControlName="country_id" (selectionChange)="changeCountry($event.value)">
            <mat-option *ngFor="let country of countryList" [value]="country.countries.id">
              ({{country.countries.countryCode}}) {{country.countries.countryName}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="displayMessage.country_id">
          {{displayMessage.country_id}}
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="form-field">
        <mat-label>Board<sup style="color: red;">*</sup></mat-label>
        <mat-select formControlName="board_id" id="board_id" (selectionChange)="changeBoard($event.value)">
          <mat-option *ngFor="let board of boards" [value]="board.id">
            {{board.board_name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="displayMessage.board_id">
          {{displayMessage.board_id}}
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="form-field">
        <mat-label>Select School<sup style="color: red;">*</sup></mat-label>
        <mat-select formControlName="school_id">
          <mat-option *ngFor="let school of schoolList" [value]="school.id">
            {{school.school_name}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="displayMessage.school_id">
          {{displayMessage.school_id}}
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="form-field">
        <mat-label>Select Class<sup style="color: red;">*</sup></mat-label>
        <mat-select formControlName="class_id" (selectionChange)="changeClass($event.value)">
          <mat-option *ngFor="let class of classList" [value]="class.id">
            {{class.class_name}}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="displayMessage.class_id">
          {{displayMessage.class_id}}
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="form-field">
        <mat-label>Select Subjects<sup style="color: red;">*</sup></mat-label>
        <mat-select formControlName="subject_id" id="subject_id" (selectionChange)="changeSubject($event.value)">
          <mat-option *ngFor="let subject of subjectList" [value]="subject.id">
            {{subjectList.length>2 ? 'Grade '+subject.class_id+' -> '+subject.subject_name : subject.subject_name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="displayMessage.subject_id">
          {{displayMessage.subject_id}}
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="form-field">
        <mat-label>Select Lesson<sup style="color: red;">*</sup></mat-label>
        <mat-select formControlName="lesson_id" id="lesson_id" (selectionChange)="changeLesson($event.value)">
          <mat-option *ngFor="let lesson of lessonList" [value]="lesson.id"
            title="{{lesson.lesson_name}} ({{lesson.lesson_num}})">
            {{lesson.lesson_name}} ({{lesson.lesson_num}})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="form-field">
        <mat-label>Select Topic<sup style="color: red;">*</sup></mat-label>
        <mat-select formControlName="topic_id" id="topic_id">
          <mat-option *ngFor="let topic of topics" [value]="topic.id">
            {{topic.topic_name}} ({{topic.topic_num}})
          </mat-option>
        </mat-select>
        <mat-error *ngIf="displayMessage.topic_id">
          {{displayMessage.topic_id}}
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="form-field">
        <mat-label>Title<sup style="color: red;">*</sup></mat-label>
        <input matInput id="title" type="text" formControlName="title"/>
        <mat-error *ngIf="displayMessage.title">
          {{displayMessage.title}}
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="form-field">
        <input matInput id="version" type="text" placeholder="Version" formControlName="version" readonly />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="form-field">
        <mat-label>Select Content Type<sup style="color: red;">*</sup></mat-label>
        <mat-select formControlName="content_type"
          (selectionChange)="changecontentType($event.value)" [disabled]="contentTypeDisable">
          <mat-option [value]="1">HTML Zip</mat-option>
          <mat-option [value]="2">Single HTML File</mat-option>
          <mat-option [value]="3">Video</mat-option>
          <mat-option [value]="4">PDF</mat-option>
          <mat-option [value]="5">Image</mat-option>
          <mat-option [value]="6">External Url</mat-option>
          <mat-option [value]="7">Youtube Url</mat-option>
        </mat-select>
        <mat-error *ngIf="displayMessage.content_type">
          {{displayMessage.content_type}}
        </mat-error>
      </mat-form-field>
    </p>

    <p *ngIf="showEncryption">
      <mat-form-field class="form-field">
        <mat-label>Encryption Key</mat-label>
        <input matInput id="encryptionKey" type="text" formControlName="encryptionKey" />
        <!-- <mat-error *ngIf="displayMessage.encryptionKey">
          {{displayMessage.set_name}}
        </mat-error> -->
      </mat-form-field>
    </p>

    <div *ngIf="showFile">
      <label> File Upload<sup style="color: red;">*</sup></label>
      <br>
      <input type="file" #ContentFile lable="Icon" id="icon" (change)="onFileChange($event)" />
      <div style="font-weight:bold;padding-top:5px;" *ngIf="fileType">
        Only {{fileType}} files are allowed
      </div>
      <div *ngIf="fileUploadProgress">
        Upload progress: {{ fileUploadProgress }}
      </div>
      <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
    </div>

    <p *ngIf="showInput">
      <mat-form-field class="form-field">
        <mat-label>Enter URL<sup style="color: red;">*</sup></mat-label>
        <input matInput id="path" type="text" formControlName="path" [readonly]="showSearch"/>
        
      </mat-form-field>
      <!-- <button *ngIf="showSearch" (click)="openDialog()">Search Youtube Url</button> -->
      <button  *ngIf="showSearch" mat-raised-button [ngClass]="{btn:true}" (click)="getTopicDetails()">Search Youtube Content</button>
    </p>
    
    <div *ngIf="content_id && contentData.uploadStatus == 1">
      <span *ngIf="contentData.content_type==1;else previewBtn">       
          <a mat-raised-button class="mat-primary" [href]="contentUrl + '/' + contentData.path" target="_blank">Preview</a>      
      </span>
      <ng-template #previewBtn>
        <button mat-raised-button class="mat-primary" (click)="previewFile()" title="Preview">
          Preview
        </button>
      </ng-template>
    </div>

    <p>
      <mat-form-field class="form-field">
        <mat-label>Status<sup style="color: red;">*</sup></mat-label>
        <mat-select formControlName="status">
          <mat-option [value]="1">Active</mat-option>
          <mat-option [value]="2">Inactive</mat-option>
        </mat-select>
        <mat-error *ngIf="displayMessage.status">
          {{displayMessage.status}}
        </mat-error>
      </mat-form-field>
    </p>

    <p *ngIf="contentData">
      <mat-form-field class="form-field">
        <mat-label>Created By</mat-label>
        <input matInput id="encryptionKey" [value]="contentData.created_by.firstName" type="text" readonly/>
      </mat-form-field>
    </p>

    <p *ngIf="contentData">
      <mat-form-field class="form-field">
        <mat-label>Last Modified By</mat-label>
        <input matInput id="encryptionKey" [value]="contentData.modified_by.firstName" type="text" readonly/>
      </mat-form-field>
    </p>

    <p *ngIf="contentData">
      <mat-form-field class="form-field">
        <mat-label>Created On</mat-label>
        <input matInput id="encryptionKey" [value]="contentData.created_on | date:'medium'" type="text" readonly/>
      </mat-form-field>
    </p>

    <p *ngIf="contentData">
      <mat-form-field class="form-field">
        <mat-label>Last Modified On</mat-label>
        <input matInput id="encryptionKey" [value]="contentData.modified_on | date:'medium'" type="text" readonly/>
      </mat-form-field>
    </p>

    <!-- <p *ngIf="contentData">
      <label> <b>Created By : </b>  {{contentData.created_by.firstName}}</label><br><br>
      <label> <b>Last Modified By : </b>  {{contentData.modified_by.firstName}}</label><br><br>
      <label> <b>Created At : </b>  {{contentData.created_on | date}}</label><br><br>
      <label> <b>Last Modified At : </b>  {{contentData.modified_on | date}}</label><br><br>
    </p> -->

    <mat-toolbar style="background-color: #FFF">
      <mat-toolbar-row>
        <span class="title-spacer"></span>

        <mat-card-actions>
          <button mat-mini-fab class="primary" (click)="savecontent()"
            [ngStyle]="{'margin-right':'10px','background-color':'darkgray'}" type="submit"
            [disabled]='!contentForm.valid'>
            <mat-icon>save</mat-icon>
          </button>
          <button mat-mini-fab class="" [ngStyle]="{'margin-right':'10px'}" [routerLink]="['/content']"
            queryParamsHandling="preserve">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-card-actions>
      </mat-toolbar-row>
    </mat-toolbar>
  </form>
</mat-card>